{% extends 'shop/layouts/main.html' %}
{% block title %}
  Check Out | ShopKart
{% endblock title %}
{% block content %}
  <section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container mt-3">
      <form method="post" action="place-order">{% csrf_token %}
        <div class="row">
          <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h4>Basic Details</h6>
              <hr>
                  <div class="row checkoutform">
                    <div class="col-md-6">
                        <label>First Name</label>
                        <input type="text" required value="{{ request.user.first_name }}" class="form-control"  name="name" placeholder="Enter First Name">
                    </div>
                    <div class="col-md-6">
                      <label>Last Name</label>
                      <input type="text" required value="{{ request.user.last_name }}" class="form-control"  name="lname" placeholder="Enter Last Name">
                  </div>
                    <div class="col-md-6 mt-2">
                      <label>Email</label>
                      <input type="email"required  value="{{ request.user.email }}"class="form-control"  name="email" placeholder="Enter Email">
                    </div>            
                    <div class="col-md-6 mt-2">
                      <label>Phone Number</label>
                      <input type="text" required value="{{ userprofile.phone }}" class="form-control" name="phone" placeholder="Enter phone number">
                    </div>
                    <div class="col-md-12 mt-2">
                      <label>Address</label>
                      <textarea required class="form-control" name="address" placeholder="Enter Address">{{ userprofile.address }}</textarea>
                    </div>
                    <div class="col-md-6 mt-2">
                      <label>City</label>
                      <input type="text" required value="{{ userprofile.city }}" class="form-control"  name="city" placeholder="Enter City">
                    </div>
                    <div class="col-md-6 mt-2">
                      <label>State</label>
                      <input type="text" required  value="{{ userprofile.state }}" class="form-control"  name="state" placeholder="Enter State">
                    </div>
                    <div class="col-md-6 mt-2">
                      <label>Country</label>
                      <input type="text" required value="{{ userprofile.country }}" class="form-control"  name="country"  placeholder="Enter Country">
                    </div>
                    <div class="col-md-6 mt-2">
                      <label>Zip</label>
                      <input type="text" required value="{{ userprofile.pincode }}" class="form-control" name="pincode" placeholder="Enter pincode">
                    </div>
                  </div>
            </div>   
          </div>
          </div>  
          <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h4>Order Summary</h4>
              <hr>
              {% if cartitems %}
              <table class="table table-stripeds table-bordereds">
                <thead>
                  <tr>
                    
                    <th>Product Name</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Amount</th>    
                  </tr>
                </thead>
                <tbody>
                  {% for item in cartitems %}
                  <tr>
                    <td><img src="{{item.product.product_image.url}}" height="50px" width="50px">
                    {{item.product.name}}</td>
                    <td>{{item.product.selling_price | stringformat:'d'}}</td>
                    <td>{{item.product_qty}}</td>
                    <td class="amt">{{item.total_cost | stringformat:'d'}}</td>
                  </tr>   
                  {% endfor %}
                </tbody>
                  <tr>
                    
                    <td colspan="3"><b>Total Amount</b></td>
                    <th id="net">0</th>
                  </tr>
              </table>
              <input type= "hidden" value="COD" name="payment_mode">
              <div class="mt-3">
              <button type="submit" class="btn btn-success w-100">COD | Place Order</button>
              <button id ="rzp-button1" class="btn btn-primary paywithRazorypay w-100 mt-2">Pay with Razorpay</button>
              </div>
              {% else %}
                <h4>Your cart is empty </h4>
              {% endif %}
              
            </div>
          </div>
          </div> 
        </div>
      </form>             
    </div>
  </section>
  <script>
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc, curr) => {
    return acc += Number(curr.textContent)
    }, 0);
    document.getElementById("net").innerHTML="Rs : "+res;
  </script>
{% endblock %}
{% block scripts %}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock scripts %}